html {
	font-family: 'Josefin Sans', sans-serif;
}

/*NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #454132;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #372F18;
}


.TableDisplayerBody {
	height: 100%; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}

.LeftColumn {
	background-color: #FFE5B4; 
	padding: 30px; 
	width: 30%;
}

.LeftColumn input {
	padding: 5x 10px;
}

.LeftColumn select {
	background-color: #F4F4F4;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px; /* If you add too much padding here, the options won't show in IE */
	width: 268px;
}

.LeftColumn input {
	padding: 5x 10px;
}

.RightColumn {
	background-color: #F4F4F4; 
	padding: 30px; 
	width:70%;
}

.DataTable th {
	width: 150px;
}

.DataTable td {
	padding: 3px;
	width: 150px;
}

.DataTable tr {
	background-color: #FFEECE;
}

.DataTable tr:nth-child(even) {
	background-color: #FFFFFF;
}

.QueryForm {
	margin: 0 0 100px 0;
}

.container {
    position: relative;
    width: 25%;
}

.bottomleft {
    position: absolute;
    bottom: 100px;
    left: 16px;
    font-size: 18px;
}
